.drop-down-box {
  position: relative;
  cursor: pointer;
}

.drop-down__open {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 12px;
  position: absolute;
  background-color: #fff;
  padding: 10px 12px;
  top: 140%;
  border-radius: 10px;
  box-shadow: 9px 9px 32px -13px #b0b0b0;
}

.drop-down__item {
  font-weight: 400;
  transition: all .1s ease-in-out;
}

.drop-down__item:not(:nth-child(3n)) {
  border-right: 2px solid #FC90AB;
}

.drop-down__item:hover {
  text-shadow: 0 3px 4px #ffa9ef;
  color: #343232;
}