.defaultBtn {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	padding: 12px 20px;
	background-color: #FF799B;
	border-radius: 10px;
	border: 0.3px solid #0000007a;
	transition: filter .2s linear;
	display: inline-block;
}

.defaultBtn:hover {
	filter: opacity(0.6);
	cursor: pointer;
}