.form-modal {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.289);
}
 
.form-modal__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  max-width: 80%;
  padding: 25px 40px;
  border-radius: 12px;
  background-color: rgb(255, 194, 204);
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.form-modal__img-block {
  margin-block: 18px;
  width: 100%;
}

.form-modal__img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  width: 60%;
}

.form-modal__message {
  color: #686565;
  line-height: 1.2;
  font-family: "Jost", serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.form-modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: all .2s ease-in-out;
}

@media(max-width: 1025px) {
  .form-modal__message {
    font-size: 24px;
  }
  
  .form-modal__img {
    width: 60%;
  }
}

@media(max-width: 801px) {
  .form-modal__box {
    padding: 20px;
  }
}

@media(max-width: 861px) {
  .form-modal__img {
    width: 70%;
  }
}

@media(max-width: 426px) {
  .form-modal__box {
    width: 300px;
  }
}