.about {
  padding-block: 40px;
	background-color: #FDE1E2;
}

.about__container {
	display: flex;
	align-items: center;
	gap: 40px;
}

.about__img-box {
	height: 100%;
	width: 100%;
}
.about__img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.about__info-text {
	font-size: 18px;
	margin-bottom: 15px;
}

@media (max-width: 1024px) {
	.about__img {
		width: auto;
	}
}
