.advantages {
  padding: 100px 0;
}

.advantages__container {
  display: flex;
  flex-direction: column;
}

.advantages__info-box {
  display: flex;
  gap: 50px;
}

.advantages__title {
  margin-bottom: 40px;
}

.advantages__item {
  height: 260px;
  min-height: 140px;
  width: 216px;
  flex-grow: 1;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 30px 10px #E69AFF;
}

.advantages__item:nth-child(2),
.advantages__item:nth-child(4) {
  transform: translateY(24px);
}

.advantages__item-title {
  font-family: "Jost", serif;
  font-size: 24px;
  color: #560869;
}

.advantages__item-text {
  font-size: 15px;
  line-height: 18px;
}

@media (max-width: 1280px) {
  .advantages__info-box {
    gap: 20px;
  }
}

@media (max-width: 1153px) {

  .advantages__info-box {
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

   .advantages__item {
    width: 40%;
    justify-content: center;
    align-items: center;
    max-height: 160px;
  }

  .advantages__item-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .advantages__item:nth-child(2),
  .advantages__item:nth-child(4) {
    transform: translateY(0);
  }

  .advantages__item-text {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
  }

}

@media (max-width: 800px) {
  .advantages__item-text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 426px) {
  .advantages__item {
    width: 100%;
    max-height: 140px;
  }

  .advantages__item-text {
    font-size: 17px;
  }
}