.accordion-home {
  padding: 40px 0 60px 0;
  background-color: #FDE9E9;
}

.accordion-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 18px;
}

.accordion__title {
  margin-bottom: 24px;
}

.accordion__item .MuiButtonBase-root{
  padding: 0;
}

.accordion__item-heading.MuiTypography-root {
  font-family: "Istok Web", serif;
  font-size: 20px;
  font-weight: 500;
}

.accordion__item.MuiPaper-root,
.accordion__item.MuiPaper-root:first-of-type,
.accordion__item.MuiPaper-root:last-of-type {
  border-radius: 20px;
  box-shadow: none;
  padding: 24px;
  min-height: 50px;
  /* max-height: fit-content; */
}

.accordion__item.MuiAccordion-root::before {
  background-color: transparent;
}


.accordion__item-summery .MuiAccordionSummary-content {
  margin: 0 0;
}


.accordion__item-text.MuiAccordionDetails-root {
  padding-left: 0;
  min-height: 250px;
  font-family: "Jost", serif;
  font-size: 17px;
  font-weight: 500;
}


@media (max-width: 1152px) {
  .accordion__item-heading.MuiTypography-root {
    font-size: 18px;
    text-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .accordion-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .accordion__item-heading.MuiTypography-root {
    flex: 0.9;
  }
}