.header-container {
	/* max-width: 1280px;
  margin: 0 auto;
  width: 90%; */
	padding-inline: 6px;
}

.header {
	display: flex;
	align-items: center;
	padding-block: 10px;
}

.header__image-box {
	flex: 1;
}

.header__image {
	object-fit: cover;
}

.header__image-link {
	cursor: pointer;
	display: inline-block;
	height: 100%;
}

.header__image-link svg path {
	transition: all .2s linear;
}

.header__image-link:hover svg path {
	fill:#FC90AB;
	stroke: #626262;
}

.header__nav-box {
	display: flex;
	gap: 40px;
	flex: 2;
}

.header__nav-item {
	font-size: 18px;
	padding: 6px;
	border-bottom: 2px solid transparent;
	transition: border-bottom .2s linear;
}

.header__nav-item:hover {
	border-bottom: 2px solid #FC90AB;
	cursor: pointer;
}
