.grades-page {
  padding: 60px 0 100px 0;
}

.grades-page__items-box {
 
}

.grades-page__item {
  display: grid;
  grid-auto-rows: auto;
}

.grades-page__item-img {
  max-height: 400px;
}

.grades-page__item:not(:last-of-type) {
  margin-bottom: 50px;
} 

.grades-page__item.item_1  {
  /* grid-template-columns: minmax(200px, 800px) minmax(250px, 1fr); */
  grid-template-columns: minmax(300px, 800px) minmax(150px, 320px);
  justify-content: space-between;
}

.grades-page__item.item_2  {
  grid-template-columns: minmax(150px, 500px) 1fr minmax(150px, 500px);
  /* background-color: rgb(156, 198, 156); */
}

.grades-page__item.item_2 > .grades-page__item-grades-box {
  align-self: center;
}

.grades-page__item.item_2 > .grades-page__item-img-box {
  width: 100%;
  justify-self: center;
  padding-bottom: 50px;
  /* border: 2px solid black; */
}

.grades-page__item.item_2 .grades-page__item-img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

.grades-page__item.item_3  {
  /* grid-template-columns: minmax(300px, 900px) minmax(200px, 1fr); */
  grid-template-columns: minmax(300px, 900px) minmax(200px, 350px);
  justify-content: space-between;
  /* background-color: rgb(223, 139, 139); */
}

.grades-page__item.item_3 > .grades-page__item-grades-box {
  align-self: center;
}

.grades-page__item-grades-box {

}

.grades-page__item-grades-block {
  height: 270px;
  box-shadow: 0 4px 21px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.grades-page__item.item_1 .grades-page__item-grades-block {
  background: linear-gradient(290deg, #efefef 0%, #ffcced 74% 98%);
}

.grades-page__item.item_2 .grades-page__item-grades-block {
  background: linear-gradient(to top, #f0f0f0 0%, #ffdef6 74% 98%);
}

.grades-page__item.item_3 .grades-page__item-grades-block {
  background: linear-gradient(57deg, #fff 0%, #ffbeff 74% 98%);
}

.grades-page__item-grades {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 30px;
}

.grades-page__item.item_1 .grades-page__grade {
  background-color: rgba(230, 154, 255, 0.5);
}

.grades-page__item.item_2 .grades-page__grade {
  background-color: rgb(255, 186, 188, 0.5);
}

.grades-page__item.item_3 .grades-page__grade {
  background-color: rgb(255, 228, 154, 0.75);
}

.grades-page__grade {
  flex: 1 1;
  display: inline-block;
  font-family: "Jost", serif;
  font-size: 24px;
  font-weight: 500;
  /* max-width: 380px; */
  min-width: 200px;
  padding: 6px 30px;
  background-color: #E69AFF;
  border-radius: 10px;
  text-align: center;
}

.grades-page__item-img-box {
  margin-left: auto;
}

@media (max-width: 801px) {
  .grades-page__item.item_1 .grades-page__item-img-box {
    align-self: flex-start;
  }

  .grades-page__item.item_3 .grades-page__item-img-box {
    align-self: center;
  }
}

@media (max-width: 601px) {

  .grades-page__item {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .grades-page__item.item_1 .grades-page__item-img-box, 
  .grades-page__item.item_2 .grades-page__item-img-box, 
  .grades-page__item.item_3 .grades-page__item-img-box {
    display: none;
  }

  .grades-page__item.item_2 > .grades-page__item-grades-box:first-child {
    margin-bottom: 50px;
  }

  .grades-page__item-grades-block {
    height: 200px;
  }

}