.breadcrumbs-container,
.breadcrumbs__items-box {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  font-size: 18px;
}

.breadcrumbs__items-separator {
  display: inline-flex;
}

.breadcrumbs__items-separator::after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  margin-inline: 14px;
}

.breadcrumbs__item-link {
  display: inline-block;
  height: 100%;
}