.articles-preview {
  padding: 60px 0;
  position: relative;
}

.articles__title {
  margin-bottom: 45px;
}

/* .articles__items-viewport {
  position: relative;
} */

.articles__items-box {
  display: flex;
  gap: 40px;
  /* border: 1px solid red; */
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: right;
}

.articles__item {
  max-width: 285px;
  min-width: 280px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

.articles__item-img {
  max-width: 320px;
  min-width: 280px;
  height: 270px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 60% center;
}

.articles__item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.articles__item-title {
  display: inline-block;
  font-family:  "Jost", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.articles__item-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  width: 70%;
}

@media (max-width: 1153px) {
  .articles__items-box {
    gap: 20px;
  }

  .articles__item:last-child {
    display: none;
  }

  .articles__item-link {
    padding-bottom: 10px;
  }

}

@media (max-width: 1024px) {
  .articles__items-box {
    overflow: auto;
    scrollbar-width: none;
  }
}

@media (max-width: 800px) {

  /* .articles__items-box {
    gap: 12px;
    justify-content: space-between;
  } */

  /* .articles__item {
    max-width: 48%;
  } */

  /* .articles__item:last-child {
    display: flex;
  } */
}

@media (max-width: 601px) {

  /* .articles__items-viewport {
    overflow: hidden;
    width: 100%;
  } */
/* 
  .articles__items-box {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 16px;
    position: relative;
  } */

  /* .articles__item {
    flex: 0 0 80%;
    max-width: 80%;
  } */
}

@media (max-width: 426px) {

  .articles__items-box {
    gap: 0;
    scroll-snap-align: unset;
  }

  .articles__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .articles__item-img {
    max-width: 100%;
  }
}