.footer {
  background-color: #1F0314;
}

.footer__container {
  padding-block: 40px;
}

.footer__box {
  display: flex;
  gap: 40px;
}

.footer__logo-box {
  width: 50px;
}

.footer__logo {
  width: 100%;
  height: 100%;
}

.footer__logo-link {
  display: block;
}

.footer__logo path {
  fill: #fff;
  transition: all .2s ease-in-out;
}

.footer__logo-box:hover .footer__logo path {
  fill: #88466e;
  cursor: pointer;
}

.footer__info-item {
  color: #fff;
  font-size: 18px;
  transition: all .1s linear;
}

.footer__info-link {
  display: block;
}

.footer__info-link:hover .footer__info-item,
.footer__info-item:hover {
  cursor: pointer;
  color: hsl(0, 83%, 95%, 50%);
}

.footer__info-item:not(:last-child),
.footer__info-link:not(:last-child) {
  margin-bottom: 12px;
}


.footer__info-right-box .footer__info-item:nth-child(3) {
  font-size: 16px;
}

.footer__socials-box {
  display: flex;
  gap: 10px;
}

.footer__socials-item {
  width: 24px;
  height: 24px;
  flex: 1;
}

.footer__socials-item path {
  fill: #fff;
  transition: all .3s ease-in-out;
}

.footer__socials-item:hover path {
  fill: #88466e;
} 

@media (max-width: 1152px) {

  .footer__box {
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo-box {
    width: 6%;
  }

  .footer__info-left-box, 
  .footer__info-right-box {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 426px) {
  .footer__box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
  }

  .footer__info-left-box, 
  .footer__info-right-box {
    width: 100%;
    justify-content: flex-start;
  }

  .footer__logo-box  {
    width: 12%;
  }
}