#root {
  /* max-width: 1280px;
  margin: 0 auto;
  width: 90%; */
  /* padding: 2rem; */
  /* text-align: center; */

}

nav, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}