#root {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

body {
  font-family: "Istok Web", sans-serif;
}

h3 {
  font-family: "Jost", serif;
	font-size: 40px;
	margin-bottom: 15px;
}

h2.pageTitle {
  font-family: "Jost", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  padding: 10px 18px;
  border: 0.5px solid #000000c0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 30px;
}

.logo {
  object-fit: cover;
}

.logo-link {
  cursor: pointer;
	display: inline-block;
	height: 100%;
}

.logo-link svg path {
	transition: all .1s ease-in-out;
}

@media (max-width: 600px) {
  h3 {
    font-size: 35px;
  }
}

@media (max-width: 376px) {
  h3 {
    text-align: center;
  }
}