* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

body {
  font-family: "Istok Web", sans-serif;
}

h3 {
  font-family: "Jost", serif;
	font-size: 40px;
	margin-bottom: 15px;
}

.logo {
  object-fit: cover;
}

.logo-link {
  cursor: pointer;
	display: inline-block;
	height: 100%;
}

.logo-link svg path {
	transition: all .1s ease-in-out;
}