.slider {
  padding-block: 40px;
  background-color: green;
}

.slider__container {
  width: 90%;
  height: 450px;
  margin: 0 auto;
  border: 2px solid red;
}

.slider__box {
  width: 100%;
  height: 100%;
}

.slider__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}