.slider {
  padding: 40px 0 60px 0;
  height: 100%;
}

.slider__container {
  width: 90%;
  margin: 0 auto;
}
/* 
.slider__container-heading {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  box-shadow: 3px 4px 10px #414141ac;
  padding: 6px 8px;
  border-radius: 12px;
  text-transform: uppercase;
  margin-bottom: 18px;
  background-color: #FC90AB;
} */

.slider__box {
  width: 100%;
  height: 450px;
  position: relative;
  border-radius: 12px;
}

.slider__img-item-box {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 10px #FC90AB;
}

.slider__item {
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 324px;
  background-position: center top 20%;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: transform .3s ease-in-out;
  position: relative;
}

.slider__item-text {
  display: inline-block;
  font-family: "Jost", serif;
  font-size: 32px;
  color: #161515;
  font-weight: 600;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 1.1;
}

.slider__img-btn {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-inline: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.slider__img-btn > *,
.slider__img-btn > * > path  {
  stroke: #414141;
  fill: #414141;
  transform: translate(15%, 8%);
}

.slider__img-btn:hover {
  background-color: rgba(238, 238, 238, 0.516);
}

.slider__img-picker {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
}

.slider__img-picker-item {
  all: unset;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d0d0d0af;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all .2s ease-in-out;
}

.slider__img-picker-item:hover {
  border: 3px solid #FC90AB;
  background-color: #cecaca;
}

@media (max-width: 1024px) {
  .slider__box {
    height: 300px;
  }

  .slider__item {
    background-size: 220px;
  }

  .slider__item:nth-child(3),
  .slider__item:last-child {
    background-position: center bottom 120%;
  }
  
  .slider__item-text {
    width: 80%;
    font-size: 30px;
    line-height: 1.1;
    bottom: 10%;
  }
}

@media (max-width: 426px) {
  .slider__item-text {
    font-size: 22px;
    bottom: 12%;
  }
}

@media (max-width: 376px) {
  .slider__item {
    background-size: 180px;
  }

  .slider__item:nth-child(3),
  .slider__item:last-child {
    background-position: center bottom 90%;
  }
}